<div class="card">
    @if (listaDocenteAndCurso!=undefined&&datosAdicionales!=undefined) {
    <p-carousel [value]="listaDocenteAndCurso" [numVisible]="3" [numScroll]="1" [circular]="true"
        [responsiveOptions]="responsiveOptions">
        <ng-template pTemplate="header">
            <div class="titulo">
                <h3>NUESTROS CURSOS DE {{datosAdicionales.tipeCurso}}</h3>
                <p>{{datosAdicionales.titleSeccion}}</p>
            </div>
        </ng-template>
        

        <ng-template let-product pTemplate="item">
            <div class="border-1 surface-border border-round m-2 p-3">
                <div class="w-full border-round">
                    <app-card-curso [datos]="product"></app-card-curso>

                </div>

            </div>

        </ng-template>
        

        <ng-template pTemplate="footer">
            <a class="pie-pagina" routerLink={{datosAdicionales.url}}>
                <p>Explorar Más Cursos</p>
            </a>
        </ng-template>



    </p-carousel>
    }
</div>