<div class="d-flex justify-content-center">
    <div class="card" style="width: 25rem;">
        <div class="card-body">
            <h5 class="card-title mb-3">REGISTRO</h5>
            <form [formGroup]="form" (submit)="onSubmit()">
                <div class="mb-3">
                    <label for="dni" class="form-label">DNI</label>
                    <input type="dni" id="dni" class="form-control" formControlName="dni" 
                    placeholder="Ingrese Su DNI"
                    (input)="filtrarNumeros($event)"
                    maxlength="8"
                    minlength="8"
                    >
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre</label>
                    <input 
                    type="name" id="name" 
                    class="form-control" 
                    formControlName="name" 
                    placeholder="Ingrese Nombre"
                    (input)="filtrarLetras($event)">
                </div>
                <div class="mb-3">
                    <label for="lastname" class="form-label">Apellidos</label>
                    <input type="lastname" id="lastname" class="form-control" formControlName="lastname" placeholder="Ingrese Apellido"
                     (input)="filtrarLetras($event)"
                    >
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Correo Electronico</label>
                    <input type="email" id="email" class="form-control" formControlName="email" placeholder="Ingrese Correo">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" id="password" class="form-control" formControlName="password" placeholder="password">
                </div>
                <button type="submit" class="btn btn-success" [disabled]="form.invalid">Ingresar</button>

            </form>
        </div>
    </div>
</div>

