<div class="card flex justify-content-center">
    @if (curso!=undefined) {
    <p-card header="{{curso.nombre}}" subheader="{{curso.modalidad}}" [style]="{ width: '300px' }">
        <ng-template pTemplate="header">
            <img alt="Card" [src]="optenerUrlSegura(curso.image)" />
        </ng-template>
        <p>{{curso.detalle}}
        </p>
        <ng-template class="footer" pTemplate="footer">
            <div class="">
                <app-avatar [perfiles]="docetes"></app-avatar>
                <p-button label="detalles" class="w-full" styleClass="w-full" />
            </div>
        </ng-template>
    </p-card>
}
</div>

