<div class="detalle-curso">

  <section class="curso">
    @if (datosCurso) {
    <h1> {{datosCurso.nombre}}</h1>
    <div class="parent">
      <div class="div5">
        <img [src]="datosCurso.image" style="width: 100%; height: 100%;">
      </div>
      <div class="div1">
        <p>Detalles</p>
        <p>{{datosCurso.detalle}}</p>
      </div>
      <div class="div2">
        <p>TIPO DE CURSO: {{datosCurso.tipoCurso}} </p>
      </div>
      <div class="div3">
        <p>MODALIDAD: {{datosCurso.modalidad}}</p>
      </div>
      <div class="div4">
        <p>{{datosCurso.activo?"ACTIVO":"DESACTIVADO"}} </p>
      </div>

      <div class="div6">
        <p>Fecha de Inicio</p>
        <p>{{datosCurso.fechaInicio}} </p>
      </div>
      <div class="div7">
        <p>Fecha Finalizacion</p>
        <p>{{datosCurso.fechaFin}} </p>
      </div>
      <div class="div8">
        <p>Precio</p>
        <p><span matTextPrefix>S/&nbsp;</span>{{datosCurso.precio}} </p>
      </div>
    </div>
    }

  </section>
  <section class="cont-curso">
    <div class="modulo">
      <h2 style="align-content: center;">modulos del curso</h2>
      @for (modulo of datosModulo; track $index) {
      <mat-expansion-panel (opened)="optenerSesiones(modulo.idModulo)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{modulo.nombre}}
          </mat-panel-title>


        </mat-expansion-panel-header>
        <mat-panel-description>
          {{modulo.detalle}}
        </mat-panel-description>
        <div>
          <h3>clases del Modulo</h3>
          @for (sesion of sesiones[modulo.idModulo]; track $index) {
          <h4>clase {{sesion.numOrden}}</h4>
          <div class="content">

            <div class="sesion">
              <div class="descripcion">

                <p>{{sesion.description}}</p>
              </div>
              <div class="fecha">
                <p>fecha : {{convertirFecha(sesion.inicioSession).fecha}}</p>
                <p>{{convertirFecha(sesion.inicioSession).hora}} - {{convertirFecha(sesion.finalSession).hora}}</p>
                
              </div>
              <div class="docente">
                <h4>docente</h4>

                <app-avatar [perfiles]="[sesion.docente]"></app-avatar>
                <p> {{sesion.docente.especialidad}}</p>
              </div>

            </div>
          </div>
          }

        </div>

      </mat-expansion-panel>
      }


    </div>
  </section>
  <section class="inf-adicional"></section>
  <section class="docentes"></section>
</div>