<div class="container">
<div>
    hola esto es una presentacion
</div>

<section>
    @if (datosCursoActualizacion!=undefined) {
        <app-slider-curso-primeng 
        [datosAdicionales]="datosAdicionalesActualizacion" [listaDocenteAndCurso]="datosCursoActualizacion"
        ></app-slider-curso-primeng>

    }
    
    </section>
<section>
    <app-slider-curso-primeng [datosAdicionales]="datosAdicionalesDiplomado" [listaDocenteAndCurso]="datosCursoDiplomado"></app-slider-curso-primeng>
</section>

<section>
    <app-slider-curso-primeng [datosAdicionales]="datosAdicionalesEspecializacion" [listaDocenteAndCurso]="datosCursoEspecializacion"></app-slider-curso-primeng>
</section>

