<header>
    <div class="container">
        <nav class="nav_checkbox">
            
            <a routerLink="" class="logo">
                <fa-icon [icon]="icon"></fa-icon>
                <h2>LOGO</h2>
            </a>
            <input type="checkbox" id="tab-nav" class="tab-nav">
            <label for="tab-nav" class="label">
                <div class="burger"></div>
                <div class="burger"></div>
                <div class="burger"></div>
            </label>
            <ul class="content_nav">
                <li><a routerLink="">HOME</a></li>
                <li><a routerLink="">NOSOTROS</a></li>
                <li class="develop"><a href="">CURSOS</a>
                    <ul class="submenu">
                        <li><a routerLink="actualizacion">ACTUALIZACION</a></li>
                        <li><a routerLink="especializacion">ESPECIALIZACION</a></li>
                    </ul>

                </li>
                <li><a routerLink="diplomado">DIPLOMADOS</a></li>
                <li><a routerLink="docentes">DOCENTES</a></li>
                <li><a routerLink="">SERVICIOS</a></li>
                @if (isLogin()) {
                    <li><a routerLink="admin" >DASHBOARD</a></li>
                    <li><a routerLink="" (click)="logout()">cerrar Sesion </a></li>
                    
                }
                @if(!isLogin()){
                    <li><a routerLink="auth">LOGIN</a></li>                
                
                }
                
                

            </ul>
        </nav>

    </div>
</header>