
<mat-toolbar  [class.class-touch]="collapsed()" >
    <div>
        <button (click)="collapsed.set(!collapsed())">
        
            <fa-icon [icon]=iconSlider></fa-icon>
    </button>
    </div>
    <div class="info-user">
        <a routerLink="">Inicio</a>
        <a routerLink="" (click)="cerrarSesion()">Cerrar Sesion</a>
        
    </div>
   
    
        
   

</mat-toolbar>

<mat-sidenav-container >
    <mat-sidenav mode="side" opened [style.width]="sidenavWidth()">
        
        <app-sidebar [collapsed]="collapsed()"></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content class="content"[style.margin-left]="sidenavWidth()">
        
            <router-outlet></router-outlet>
       
    
    </mat-sidenav-content>
</mat-sidenav-container>