<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="assets/logo.jpg">
                </a>
                
            </figure>

        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ipsa?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ipsa?</p>
        </div>
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">




                <a href="#"><fa-icon class="fa-2x" [icon]=iconFa></fa-icon></a>
                <a href="#"><fa-icon class="fa-2x" [icon]=iconXTu></fa-icon></a>
                <a href="#"><fa-icon class="fa-2x" [icon]=iconYou></fa-icon></a>
                <a href="#"><fa-icon class="fa-2x" [icon]=iconWha></fa-icon></a>
                <a href="#"><fa-icon class="fa-2x" [icon]=iconTel></fa-icon></a>
                <a href="#"><fa-icon class="fa-2x" [icon]=iconGog></fa-icon></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy;{{ actuallyDate}} <b>app-millenius</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>
