@if (datos!=undefined) {
<div class="container" >
    <div class="card">
        <div class="card-title">
            <p>{{datos.curso.modalidad}}</p>
            <img [src]="datos.curso.image" alt="">
        </div>
        <div class="card-cuerpo">
            <div (click)="detalleCurso(datos.curso.id)" class="nombre">
                <p>{{cortarTexto(datos.curso.nombre,50)}}</p>
            </div>
            <div class="review">
                <p>{{datos.curso.detalle}}</p>

            </div>
            <div class="card-avatar-fecha">
                <div class="avatar">
                    <app-avatar [perfiles]="datos.docentes"></app-avatar>
                </div>
                <div class="fecha">
                    <fa-icon [icon]=calendarIcon></fa-icon>
                    <p>{{optenerFecha(datos.curso.fechaInicio+'')}}</p>
                </div>

            </div>
            
        </div>
        <div class="card-pie">

            <button (click)="detalleCurso(datos.curso.id)">Ver Detalles</button>
        </div>
        
    </div>
</div>
}
