
  
  .auth-content {display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    width: 500px;
    height: 600px;
    
    
  }
  .link{
    color: rgb(55, 115, 227);
    
  }
  .link:hover{
    color: rgb(16, 58, 223);
    cursor: pointer;
    
  }