@if (docente!=undefined) {
<div class="body">


    <div class="docente-card">
        <div class="avatar">
            <img [src]="docente.avatar" alt="Avatar">
        </div>
        <div class="docente-details">
            <div><strong>Nombre:</strong> {{docente.name}} {{docente.lastName}}</div>
            <div><strong>Email: </strong> {{docente.email}}</div>
            <div><strong>Género: </strong> {{docente.genero}}</div>
            <div><strong>Especialidad:</strong> {{docente.especialidad}}</div>
            <div><strong>Docente desde: </strong> {{docente.fechaInscription}}</div>
        </div>
        <div class="review">
            <strong>Review</strong>
            <p>{{docente.review}}</p>

        </div>
    </div>
    <div>
        <h2>cursos impartidos por el instructor</h2>

    </div>
    <div>
        <h2>reseñas</h2>
    </div>
</div>
}