

<div class="container">
    <div class="card">
        <div class="card-title">
            @if (review) {<div class="avatar" (click)="verReview()">
                <img [src]="safeUrl" alt="">
            </div>}@else {<div class="avatar" (click)="verReview()">
                <img  src="assets/images/pluma.PNG">
            </div>

            }
            
            
        </div>
        @if (!review){
        <div class="card-cuerpo">
            <div class="names">
                <p>{{perfil?.name}} {{perfil?.lastName}}</p>
            </div>
            <div class="image">

                <img [src]="safeUrl" alt="">
            </div>
            <div class="especialidad">
                <p>{{perfil?.especialidad}}
                </p>
            </div>
        </div>}
        @if (review)
        {<div class="reviews">
            @if (perfil!=undefined) {
            <p>{{truncateText(perfil.review,200)}} </p>
        }
        </div>}
        <div class="card-pie">
            <a href="#"><fa-icon class="fa-2x" [icon]=iconXTu></fa-icon></a>
            <a href="#"><fa-icon class="fa-2x" [icon]=iconWha></fa-icon></a>
            <a href="#"><fa-icon class="fa-2x" [icon]=iconGog></fa-icon></a>
        </div>
        <div class="card-butons">
            <button type="button" class="btn btn-primary">ver</button>
        </div>

    </div>


</div>