@if (session) {
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
           Sesión {{session.numOrden}}
          </mat-panel-title>
          
        </mat-expansion-panel-header>
        <div class="content">
            <div class="parent">
                <div class="div1"> 
                    <h3>detalle</h3>
                    <p>{{session.description}}</p>
                </div>
                <div class="div2"> 
                    <h3>material</h3>
                    <p>{{session.material}}</p>
                </div>
                <div class="div3"> 
                    <h3>docente</h3>
                    <app-avatar [perfiles]="[session.docente]"></app-avatar>
                    <p>{{session.docente.name}} {{session.docente.lastName}}</p>
                    <p>{{session.docente.especialidad}}</p>
                </div>
                <div class="div4">                     
                    <p>fecha : {{fechaAndHora(session.inicioSession).fecha}}</p>
                    <p>hora : {{fechaAndHora(session.inicioSession).hora}}-{{fechaAndHora(session.finalSession).hora}}</p>
                </div>
                </div>
        </div>
        <div class="botones">
            <button class="btn btn-primary">editar</button>
            <button class="btn btn-danger">eliminar</button>
    
        </div>
       
      </mat-expansion-panel>

    
}

